<section class="eateries">
  <table>
  <tr>
    <th><h2>Name</h2></th>
    <th></th>
    <th><h2>Website</h2></th>
  </tr>
  <% @eateries.each do |eatery| %>
  <tr>
    <td><%= eatery.name %></td>
    <td>|</td>
    <td><a href="<%= eatery.url %>"><%=eatery.name%></td>
    <td>|</td>
    <td><a href="/eateries/<%=eatery.id%>">Show Eatery</a></td><br>
</td>
  </tr>

  <% end %>
</table>
</section>
