<section class="eateries">
  <form method="post" action="/eateries">
  <label for="name-field">Name:</label>
  <input type="text" required name="name" id="name-field"/><br></br>

  <label for="url-field">Url:</label>
  <input type="text"  name="url" id="url-field" /><br></br>

  <input type="submit" value="Add Eatery"/>

</form>
</section>
