<body class="deals"><div class="deals-container">
  <div class="row">
    <% @deals.each do |deal| %>
    <div class="col-4">
      <div class="dealbox">
        <p>Name: <%= deal.name() %></p>
        <p>Day: <%= deal.day() %> </p>
        <p>Discount: %<%= deal.discount() %> </p>
        <p><a href="/deals/<%=deal.id%>">Show Deal</a></p><br>
      </div>
    </div>
    <% end %>

  </div>
</div>
</body>
