<% @deals.each do |deal| %>
 <p>Name: <%= deal.name() %></p>
 <p>Day: <%= deal.day() %> </p>
 <p>Discount: %<%= deal.discount() %> </p>
 <p><a href="/deals/<%=deal.id%>">Show Deal</a></p><br>
<% end %>
