<section class="admin">
<ul>
  <li>
    <a href="/eateries/new"> Add Eateries</a>
  </li>
  <li>
    <a href="/burgers/new"> Add Burgers</a>
  </li>
  <li>
    <a href="/deals/new">Add Deals</a>
  </li>
  <li>
  <a href="/burgers_deals/new">Add Burgers to Deals</a>
  </li>
</ul>


</section>
