<form>
<label>Add affected burgers:</label><br></br>
<% @burgers.each do |burger| %>
<label for="burger-selection"><%=burger.name%></label>

<input type="checkbox" id="burger-selection" value=<%burger.id%>/><br></br>
  <% BurgerDeal.new('deal_id' => deal.id, 'burger_id' => burger.id)
  <% end %>

  </form>
