body {
  background: black url('/images/image1.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FCE999;
  font-family: 'Arvo', sans-serif;
  padding: 0px;
  margin: 0px;
}

.admin {
  background: black url('/images/admin_image.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.burgers {
  background: black url('/images/image4.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}


.deals {
  background: black url('/images/image2.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    background-blend-mode: hue;
}

li {
    float: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 3.8em;
  margin-bottom: 20px;
}

a, a:visited {
  color: #FCE999;
  text-decoration: none;
}

.eateries {
  background: black url('/images/image3.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: black;
}


p {
  color: 	#701C02;
  font-size: 24px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
