body {
  background: black url('/images/image1.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FCE999;
  font-family: 'Arvo', sans-serif;
  padding: 0px;
  margin: 0px;
}

.admin {
  background: black url('/images/admin_image.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.burgers {
  background: black url('/images/image4.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}


.deals {
  background: black url('/images/image2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    background-blend-mode: hue;
}

li {
    float: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 3.8em;
  margin-bottom: 20px;
}

a, a:visited {
  color: #CCB00E;
  text-decoration: none;
}

.eateries {
  background: black url('/images/image3.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: black;
}


p {
  color: crimson;
  font-size: 24px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1.main {
  color: 	#CCB00E;
}

a.eateries, a:visited.eateries {
  color: blue;
  text-decoration: none;
  background: none;
}

section.eateries {
  background: none;
}

section.burgers {
  background: none;
}

body.burgers {
  background: black url('/images/image4.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.burger-container {
  max-width: 970px;
  margin: 0 auto;
  margin-top: 50px;
}

.row {
  display: wrap;
  width: 100%;
}

.col-4 {
  flex: 0 0 33.33%;
  padding: 10px;
}

.burger{
  border: 1px solid grey;
  padding: 10px;
}

div.burgerdiv {
  background: black;
  opacity: 0.7;
}

a.burger {
  background: none;
}

.deals-container {
  max-width: 970px;
  margin: 0 auto;
  margin-top: 50px;
}

.row {
  display: wrap;
  width: 100%;
}

.col-4 {
  flex: 0 0 33.33%;
  padding: 10px;
}

.dealbox{
  background: black;
  opacity: 0.7;
  border: 1px solid grey;
  padding: 10px;
}

td {
  border-right: 1px solid black;
  padding: 0 10px 0 10px;
}
